:root{
    --clr-gris: #d0cfcf
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    gap: 5rem;
    border: 1px solid var(--clr-gris);
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar img{
    margin: 0px 20px 0px 50px;
}

nav a{
    padding: 0 12px;
    font-size: 20px;
    line-height: 34px;
    color: #6e6b69;
}
nav a:hover{
    transition: .5;
    color: black;
}
.dos{
    display: flex;
    align-items: center;
    gap: 4rem;
    border: 1px solid var(--clr-gris);
    padding: 0px 0px 0px 20px;
}
.dos input{
    outline: none;
    border-style: none;
    font-size: 15px;
}
.bi.bi-search{
    margin-right: 1rem;
}
.Cart{
    border-left: 1px solid var(--clr-gris);
    padding: 35px 50px;
}

.Cart a img{
    max-width: 26px;
}


