:root{
    --clr-gris: #d0cfcf
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    border: 1px solid var(--clr-gris);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 85px;
    background-color: white; 
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar img{
    margin: 0px 20px 0px 50px;
}

nav a{
    padding: 0 12px;
    font-size: 17px;
    font-weight: 600;
    line-height: 34px;
    color: #6e6b69;
}
nav a:hover{
    transition: .5;
    color: black;
}
.dos{
    border-left: 1px solid var(--clr-gris);
    display: flex;
    align-items: center;
    
    padding: 0px 0px 0px 20px;
}
.dos input{
    outline: none;
    border-style: none;
    font-size: 15px;
    position: relative;
    width: 15rem;
    height: 85px;
    margin-left: 2.5rem;
}
.bi.bi-search{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 73%;
    
}
.Cart{
    border-left: 1px solid var(--clr-gris);
    padding: 0px 50px;
}

.Cart a img{
    max-width: 26px;
}


