:root{
    --clr-gris: #9b898d;
    --clr-verde: #229303;
}

/* Hago que los productos sean responsive gracias al displey grid */
.conteinerPadre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    margin-top: 160px;
}

/* Cuando haya mas de 3 columnas el 4to se posiciona abajo */
.conteinerPadre > :nth-child(3n + 1) {
    grid-column: 1;
}

/* Relative para que el texto lo pueda posicionar */
.contentImg-detalle {
    position: relative;
    width: 280px;
    cursor: pointer;
}

/* Imagen */
.imgProduct { 
    width: 100%;
    height: auto;
}

/* Boton detalle */
.btn-detalle {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: black;
    color: white;
    padding: 17px 75px;
    font-weight: 600;
    font-size: .9rem;
}

/* Hover del boton para que aparezca */
.contentImg-detalle:hover .btn-detalle {
    opacity: 1;
    transition: 0.5s ease;
}

/* Boton mas claro cuando paso por encima */
.btn-detalle:hover {
    background-color: rgba(0, 0, 0, 0.697);
}

/* Espaciado entre los parrafos */
.contentInfo div {
    margin-bottom: 10px;
}

/* Decoracion del Material/aleacion */
.material {
    font-size: .7rem;
    font-weight: 600;
    color: var(--clr-gris);
}

/* Decoracion en el precio del producto */
.precio {
    font-weight: 600;
    line-height: 25px;
}
.precio span {
    color: var(--clr-gris);
    font-weight: 100;
}
.precio strong {
    color: var(--clr-verde);
}