
.productContent{
    display: flex;
    height: 100vh;
    
}


.mitad img{
    width: 100%;
    height: 100%;
    min-width: 600px;
    margin-top: 90px;
}


/* textos */
.materialText{
    color: #8c8c8c;
    font-weight: 600;
    margin-bottom: 20px;
}
.nombreProducto{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.precioP{
    font-weight: 600;
    font-size: 3.5vh;
    margin-bottom: 10px;
}

.cuotas{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-grisoscuro);
}
.cuotas span{
    font-size: 25px;
    color: var(--clr-verde);
}

.pesosArg{
    color: var(--clr-grisoscuro);
}

.descripcion{
    color: var(--clr-gris);
    line-height: 2;
    margin-bottom: 30px;
}

.texto button{
    padding: 17px 55px;
    font-weight: 600;
    font-size: .9rem;
    color: white;
    background-color: #595959;
    border: none;
    cursor: pointer;
}
.texto button:hover{
    background-color: black;
    transition: .5s;
}

.texto{
    padding: 150px 5%;
}